<h1>Thank's For Using Rate My Co-op!</h1>

<p>
    We recently added email verification, and would need you to verify the email you signed up with
</p>

<p>
  <a href="<%= verifyHref %>">Please click here to verify your email address</a>
</p>
