body, html {
  height: 100%;
}

/* Space out content a bit */
body {
  padding-bottom: 40px;
  background: url("../images/background.png") repeat;
  overflow-x: hidden;
}

.ui.search .prompt {
  border-radius: 0.2857rem;
}

video#mainVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

#logoTitle {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

#mainWelcomeColumn {
  height: 100vh;
}

#mainSearch {
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;

  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

#coopDefinition {
  cursor: default;
}

.searchResultsContainer {
  overflow: auto;
  height: 100%;
  margin-bottom: 80px;
  background-color: red;
}

.footerContainer {
  overflow: hidden;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

