body, html {
  height: 100%;
}

/* Space out content a bit */
body {
  padding-bottom: 40px;
  background: url("../images/brickwall.png") repeat;

}

#mainWelcome {
  height: 100vh;
  background-image: url("../images/city-background-18299-18763-hd-wallpapers.jpg");

}

#mainWelcomeColumn {
  height: 100%;
  position: relative;
}

#mainSearch {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

