body, html {
  height: 100%;
}

/* Space out content a bit */
body {
  padding-bottom: 40px;
  background: url("../images/brickwall.png") repeat;
}

video#mainVideo {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

.loginButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: transparent;
}


#mainWelcome {
  height: 100vh;
}

#mainWelcomeColumn {
  height: 100%;
  position: relative;
}

#mainSearch {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

