<div class="ui page grid ng-scope" style="margin: 30px">
  <div class="row">
    <div class="column">
      <h1 class="ui center aligned icon header">
        <i class="orange building icon"></i>
        rate <i>my</i> coop
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="column center aligned">
      <div class="ui segment">
        <div class="results"></div>
        <div class="ui vertical segment">
          <h2 class="ui icon header">
            <i class="large student icon"></i>
            Created by Students
          </h2>

          <p>RateMyCoop is designed by students for students to provide the best out of their coop experience.</p>
        </div>
        <div class="ui vertical segment">
          <h2 class="ui icon header">
            <i class="large suitcase icon"></i>
            With Companies <i>you</i> Love
          </h2>

          <p>
            RateMyCoop has a wide array of companies. It was built with all RIT
            majors in mind and as many companies as possible.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal divider">More Info</div>

  <div class="row">
    <div class="column">

      <!-- Second Section -->
      <div class="ui three column center aligned equal height divided grid">
        <div class="column">
          <div class="ui segment">
            <div class="ui statistic">
              <div class="value">
                <i class="github icon"></i>
              </div>
              <div class="label">
                GitHub Repo
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          <div class="ui segment">
            <div class="ui statistic">
              <div class="value">
                <i class="book icon"></i>
              </div>
              <div class="label">
                API & Doc Coming Soon
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          <div class="ui segment">
            <div class="ui statistic">
              <div class="value">
                <i class="smile icon"></i>
              </div>
              <div class="label">
                Thanks!
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Second Section -->

    </div>
  </div>


</div>
