<div class="ui page grid">
  <div class="row">
    <div class="column">

      <!-- Main overview content segment -->
      <div class="ui fluid stackable segment">
        <a class="ui huge red corner label" ng-click="showEditModal()">
          <i class="edit icon"></i>
        </a>

        <!-- Company Image, title, and overview -->
        <div class="ui vertical segment" ng-class="{loading: loading}">
          <div class="ui stackable grid">
            <div class="four wide column" ng-switch="company.logo !== null">
              <img class="ui image" ng-src="{{company.logo_url}}" ng-switch-when="true">

              <!-- This is in case there is no logo, display nice big building icon -->
              <h1 ng-switch-default="" class="ui fluid center aligned icon header">
                <i class="massive building outline icon"></i>

                <div class="content">
                </div>
              </h1>

            </div>
            <div class="twelve wide column">
              <h1 class="ui dividing header">

                <div class="content">
                  <a href="{{company.url}}" target="_blank">{{company.name}}</a>
                </div>
              </h1>
              <div>
                <div btf-markdown="company.description"></div>
              </div>

              <div ng-show="company.description === null || company.description === ''">
                <b>Woah!</b> <i>It seems like this company doesn't have a description. You can still write a review
                while we
                try and get reliable information.</i>
              </div>
              <div class="ui right floated inverted green icon button" ng-click="gotoReview()">
                <i class="write icon"></i>
                Write a review
              </div>
            </div>
          </div>
        </div>

        <div class="ui vertical segment" ng-show="company.events.length > 0">
          <div class="ui accordion" id="eventsAccordion">
            <div class="title">
              <i class="dropdown icon"></i>
              <i class="calendar icon"></i>
              <b>Upcoming Events</b>
            </div>
            <div class="content">
              <div class="ui cards">
                <div class="card" ng-repeat="event in company.events">
                  <div class="content">
                    <span class="header">{{event.name}}</span>

                    <div class="meta">
                      <i class="red marker map icon"></i>
                      {{event.location}},
                      <span>{{event.startDate | amCalendar}}</span>
                    </div>
                    <div class="description">
                      <p>{{event.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Overview one -->
        <div class="ui vertical segment" ng-class="{loading: loading}">
          <div class="ui stackable grid">
            <div class="five wide column">

              <div class="ui fluid vertical menu">
                <div class="header item">
                  At a Glance
                </div>
                <div class="item">
                  Overall Experience
                  <div class="menu">
                    <div class="item">
                      <div class="ui huge star rating" id="overallRating"></div>
                      <div class="ui large green  label">{{company.overallRating}}</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  Competitiveness
                  <div class="menu">
                    <div class="item">
                      <div class="ui huge star rating" id="difficultyRating"></div>
                      <div class="ui large green label">{{company.difficultyRating}}</div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  Culture
                  <div class="menu">
                    <div class="item">
                      <div class="ui huge star rating" id="cultureRating"></div>
                      <div class="ui large green label">{{company.cultureRating}}</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="eleven wide column">
              <div class="ui top attached segment">

                <div ng-switch="company.locations.length === 0">

                  <div class="ui black ribbon label" ng-switch-when="false">Pay & Location</div>
                  <div class="ui black ribbon label" ng-switch-default="">Pay</div>
                </div>

                <div class="ui two column grid">
                  <div class="column">
                    <div class="ui basic horizontal segment">
                      <div class="ui basic"></div>
                      <!-- This basic div is for spacing -->

                      <div class="ui fluid list">
                        <div class="item" ng-if="company.maxPay === null">
                          <div class="ui medium label">No pay yet</div>
                        </div>
                        <div class="item" ng-hide="company.maxPay === null">
                          <i class="dollar icon"></i>
                          <i class="dollar icon" ng-class="{disabled: company.maxPay < payScale[0]}"></i>
                          <i class="dollar icon" ng-class="{disabled: company.maxPay < payScale[1]}"></i>
                          <i class="dollar icon" ng-class="{disabled: company.maxPay < payScale[2]}"></i>
                        </div>
                        <div class="item" ng-hide="company.maxPay === null">
                          <div class="ui medium green label">${{company.minPay}} - ${{company.maxPay}} hourly</div>
                          <div class="ui medium blue label" ng-hide="stipendAverage === null" ng-cloak="">
                            ${{stipendAverage}}
                            stipend
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="column" ng-if="company.locations.length > 0;">
                    <div class="ui basic horizontal segment">

                      <div class="ui list">
                        <div class="item" ng-repeat="location in company.locations">
                          <i class="red map marker icon"></i>
                          <a class="content"
                             target="_blank"
                             ng-href="https://www.google.com/maps/search/{{location.name}},{{location.region.code}}">
                            {{location.name}}, {{location.region.code}}
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Perks -->
              <div class="ui attached segment">
                <div class="ui orange ribbon label">Perks</div>
                <div class="ui labels" style="margin-top: 10px">
                  <div class="ui label" ng-show="company.perks.length <= 0">
                    No perks yet
                  </div>
                  <div class="ui label" ng-repeat="perk in company.perks">
                    <i class="icon" ng-class="perk.icon"></i>
                    {{perk.name}}
                  </div>

                </div>
              </div>
              <!-- Majors -->
              <div class="ui bottom attached segment">
                <div class="ui blue ribbon label">Desired Majors</div>
                <div class="ui label" ng-show="company.majors.length <= 0">
                  No majors yet
                </div>
                <div class="ui circular label" ng-repeat="major in company.majors">
                  <div class="majorLabel" data-content="{{major.name}}">
                    {{major.code}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Statistics one -->
        <div class="ui vertical segment" ng-class="{loading: loading}">

          <div class="ui three column center aligned stackable grid">
            <div class="column">
              <div class="ui tall stacked secondary  raised segment">
                <div class="ui statistic">
                  <div class="value">
                    <i class="book icon"></i>
                    {{company.reviews.length}}
                  </div>
                  <div class="label" ng-switch="company.reviews.length === 1">
                    <div ng-switch-when="true">Review</div>
                    <div ng-switch-default="">Reviews</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="column">
              <div class="ui tall stacked secondary raised segment">
                <div class="ui statistic">
                  <div class="value">
                    <i class="thumbs up icon"></i>
                    {{company.recommend}}
                  </div>
                  <div class="label">
                    Enjoyed Working Here
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui tall stacked secondary raised segment">
                <div class="ui statistic">
                  <div class="value" ng-switch="company.returners === 0">
                    <i class="frown icon" ng-switch-when="true"></i>
                    <i class="smile icon" ng-switch-default=""></i>
                    {{company.returners}}
                  </div>
                  <div class="label" ng-switch="company.returners === 1">
                    <div ng-switch-when="true">Return Offer</div>
                    <div ng-switch-default="">Return Offers</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <h1 class="ui horizontal inverted header divider">
    <i class="comments outline icon"></i>
    Reviews
  </h1>

  <div class="row">
    <div class="column">
      <div class="ui huge segment" ng-class="{loading: loading}">
        <div class="ui fluid feed">

          <div class="event">
            <div class="ui fluid inverted green icon button" ng-click="gotoReview()">
              <i class="write icon"></i>
              Write a review
            </div>
          </div>

          <div class="event" ng-show="company.reviews.length == 0" ng-click="gotoReview()">
            <div class="ui fluid icon large positive message">
              <i class="write icon"></i>

              <div class="header">
                Woah!
              </div>
              It looks like no one has written a review yet. Be the first to
              <a href="">write one!</a><br>
            </div>
          </div>

          <div class="event" ng-repeat="review in company.reviews | reverse" ng-if="review.description !== ''">
            <div class="label"><i class="user icon"></i></div>
            <div class="content" ng-switch="review.anonymous">
              <div class="summary" style="" ng-switch-when="false">
                {{review.reviewerName}}
                <div class="date" style="float: right" am-time-ago="review.created"></div>
              </div>

              <div class="summary" style="" ng-switch-default="">
                Anonymous Hero review
                <div class="date" style="float: right" am-time-ago="review.created"></div>
              </div>
              <div>
                <div class="meta" ng-if="review.jobTitle">{{ review.jobTitle }}</div>
              </div>

              <div btf-markdown="review.description">
              </div>
              <div class="meta" ng-switch="isLoggedIn()">
                <a class="like" ng-class="{active: review.isLiked}" ng-click="likeReview(review)" ng-switch-when="true">
                  <i class="like icon"></i>{{review.numLikes}} people have found this review helpful.
                </a>
                <a class="" ng-switch-default="" ng-click="showLoginPleaModal()">
                  <i class="disabled like icon"></i>{{review.numLikes}} people have found this review helpful.
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- suggest company edit modal -->
<div class="ui modal" id="companyEditModal">
  <i class="close icon"></i>

  <div class="header">
    Suggest an edit for {{company.name}}
  </div>
  <div class="content">
    <div class="ui form" ng-class="{loading: suggestCompanyEditForm.loading}">
      <div class="field">
        <label>Company Name</label>
        <input type="text" name="companyEdit-name" placeholder="Incorporated Inc."
               ng-model="suggestCompanyEditForm.name">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea ng-model="suggestCompanyEditForm.description"></textarea>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Company Page Link</label>
          <input type="text" name="companyEdit-url" placeholder="www.incorporatedinc.com"
                 ng-model="suggestCompanyEditForm.url">
        </div>
        <div class="field">
          <label>Link to Logo</label>
          <input type="text" name="companyEdit-logo_url" placeholder="logos.com/mylogo.svg"
                 ng-model="suggestCompanyEditForm.logo">
        </div>
      </div>
      <!-- Social media fields -->
      <div class="three fields">
        <div class="field">
          <div class="ui left icon input">
            <i class="inverted blue twitter icon"></i>
            <input type="text" name="companyEdit-twitter" placeholder="twitter url"
                   ng-model="suggestCompanyEditForm.twitter">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="blue facebook icon"></i>
            <input type="text" name="companyEdit-facebook" placeholder="facebook url"
                   ng-model="suggestCompanyEditForm.facebook">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="linkedin icon"></i>
            <input type="text" name="companyEdit-linkedin" placeholder="linkedIn url"
                   ng-model="suggestCompanyEditForm.linkedin">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" ng-click="editModalSubmit()">
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- Modal for unauth -->
<div class="ui basic modal" id="notLoggedInModal">
  <i class="close icon"></i>

  <div class="header">
    Woops! Login please
  </div>
  <div class="content">
    <div class="image">
      <img src="images/cooper/cooper_coop_sad.svg" style="max-width: 10em">
    </div>
    <div class="description">
      <p>You must be logged in to do that. Click on the <b>top right</b> to Register or Log in
        using your RIT email.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui fluid green basic inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>
