<div class="ui grid">
  <div class="row">
    <div class="column padding-reset">
      <div class="ui huge message">
        <div class="ui two column grid">

          <div class="four wide column">
            <div class="ui card">
              <div class="image centered content">

                <div class="ui basic fluid segment"><i class="massive blue google icon"></i></div>
              </div>
              <div class="content">
                <a class="header">Google</a>

                <div class="meta">
              <span class="date">
                <div class="ui huge star rating" data-rating="4" id="rating" data-max-rating="5"></div>
              </span>
                </div>
                <div class="description">
                  One of the biggest tech companies. Will hire anyone for anything. They may sell your data
                  but you sure have to be surprised at how much money they make.
                </div>
              </div>
              <div class="extra content">
                4 Reviews
              </div>
            </div>
          </div>

          <div class="twelve wide column">
            <div class="ui two column equal height divided relaxed stackable grid">
              <div class="column">
                <div class="ui list">
                  <div class="item">
                    <i class="disabled big circular home icon"></i>

                    <div class="content">
                      <a class="header">Housing is unavailable</a>
                    </div>
                  </div>
                  <div class="item">
                    <i class="big circular food icon"></i>

                    <div class="content">
                      <a class="header">Free food!</a>
                    </div>
                  </div>
                  <div class="item">

                    <div class="ui instant masked move reveal">
                      <div class="visible content">

                        <div class="ui huge label">
                          <i class="green dollar icon"></i>
                          <i class="green dollar icon"></i>
                          <i class="green dollar icon"></i>
                          <i class="green dollar icon"></i>
                          <i class="disabled dollar icon"></i>
                        </div>
                      </div>
                      <div class="hidden content">
                        <div class="basic ui fluid segment">
                          <div class="ui green label">
                            $32 - $40 per hour
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="item" style="padding-top: 20px">
                      <div class="ui large labels">
                        <a class="ui orange label">
                          SE
                        </a>
                        <a class="ui green label">
                          CS
                        </a>
                        <a class="ui blue label">
                          CE
                        </a>
                        <a class="ui yellow label">
                          IT
                        </a>
                        <a class="ui orange label">
                          CSEC
                        </a>
                        <a class="ui green label">
                          CIAS
                        </a><a class="ui blue label">
                          DK
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <h2 class="ui icon header">
                  2800+ Commits
                </h2>

                <p>
                  Semantic UI is a <b>free open source</b> project already used in multiple <a
                  href="http://www.quirky.com" target="_blank">large</a> scale <a href="http://www.newrepublic.com"
                                                                                  target="_blank">production</a>
                  environments.
                </p>
                <a href="https://github.com/Semantic-Org/Semantic-UI/issues" class="ui large button">Visit GitHub</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
