<div class="ui page grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message">
        <div class="ui two column grid">

          <div class="four wide column">
            <div class="ui card">
              <div class="image centered content">

                <div class="ui basic fluid segment"><i class="massive blue google icon"></i></div>
              </div>
              <div class="content">
                <a class="header">Google</a>

                <div class="meta">
              <span class="date">
                <div class="ui huge star rating" data-rating="4" id="rating" data-max-rating="5"></div>
              </span>
                </div>
                <div class="description">
                  One of the biggest tech companies. Will hire anyone for anything. They may sell your data
                  but you sure have to be surprised at how much money they make.
                </div>
              </div>
              <div class="extra content">
                4 Reviews
              </div>
            </div>
          </div>

          <div class="twelve wide column">
            <div class="row">
              <div class="ui two column equal height divided relaxed stackable grid">
                <div class="column">
                  <div class="ui list">
                    <div class="item">
                      <i class="disabled big circular home icon"></i>

                      <div class="content">
                        <a class="header"><strike>Housing</strike></a>
                      </div>
                    </div>
                    <div class="item">
                      <i class="big circular food icon"></i>

                      <div class="content">
                        <a class="header">Free food!</a>
                      </div>
                    </div>
                    <div class="item">
                      <i class="big circular plane icon"></i>

                      <div class="content">
                        <a class="header">Relocation expenses</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="ui instant masked move reveal">
                        <div class="visible content">

                          <div class="ui huge label">
                            <i class="green dollar icon"></i>
                            <i class="green dollar icon"></i>
                            <i class="green dollar icon"></i>
                            <i class="green dollar icon"></i>
                            <i class="disabled dollar icon"></i>
                          </div>
                        </div>
                        <div class="hidden content">
                          <div class="basic ui fluid segment">
                            <div class="ui green label">
                              $32 - $40 per hour
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="item" style="padding-top: 20px">
                        <div class="ui large labels">
                          <a class="ui orange label">
                            SE
                          </a>
                          <a class="ui green label">
                            CS
                          </a>
                          <a class="ui blue label">
                            CE
                          </a>
                          <a class="ui yellow label">
                            IT
                          </a>
                          <a class="ui orange label">
                            CSEC
                          </a>
                          <a class="ui green label">
                            CIAS
                          </a><a class="ui blue label">
                          DK
                        </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui statistics">
                    <div class="statistic">
                      <div class="value">
                        55
                      </div>
                      <div class="label">
                        Reviews
                      </div>
                    </div>
                    <div class="statistic">
                      <div class="value">
                        <i class="thumbs up icon"></i> 48
                      </div>
                      <div class="label">
                        Enjoyed Google
                      </div>
                    </div>
                    <div class="statistic">
                      <div class="value">
                        <i class="smile icon"></i> 20
                      </div>
                      <div class="label">
                        Return Offer
                      </div>
                    </div>
                    <div class="statistic">
                      <div class="value">
                        <i class="drupal icon"></i> 10
                      </div>
                      <div class="label">
                        Potatoes
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui three column center aligned divided grid">
        <div class="column">
          <div class="ui statistic">
            <div class="value">
              55
            </div>
            <div class="label">
              Reviews
            </div>
          </div>

        </div>
        <div class="column">
          <div class="ui statistic">
            <div class="value">
              <i class="thumbs up icon"></i> 48
            </div>
            <div class="label">
              Enjoyed Google
            </div>
          </div>

        </div>
        <div class="column">
          <div class="ui statistic">
            <div class="value">
              <i class="smile icon"></i> 20
            </div>
            <div class="label">
              Return Offer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui huge segment">
        <div class="ui fluid feed">
          <div class="event">
            <div class="label">
              <i class="user icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a> reviews
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                What can I say, I loved working there. <strike>Penis penis</strike>.
                I worked in the Chrome team, writing some tools. It really is as awesome
                as they think. The free food was awesome and housing was ok.

                I was in the NY office.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
