<div class="ui page grid">
  <div class="row">
    <div class="column">
      <div class="header">
        Suggest an edit for {{company.name}}
      </div>
      <div class="ui raised orange segment">
        <div class="ui form" ng-class="{loading: suggestCompanyEditForm.loading}">
          <div class="field">
            <label>Company Name</label>
            <input type="text" name="companyEdit-name" placeholder="Incorporated Inc."
                   ng-model="suggestCompanyEditForm.name">
          </div>
          <div class="field">
            <label>Description</label>
            <textarea ng-model="suggestCompanyEditForm.description"></textarea>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Company Page Link</label>
              <input type="text" name="companyEdit-url" placeholder="www.incorporatedinc.com"
                     ng-model="suggestCompanyEditForm.url">
            </div>
            <div class="field">
              <label>Link to Logo</label>
              <input type="text" name="companyEdit-logo_url" placeholder="logos.com/mylogo.svg"
                     ng-model="suggestCompanyEditForm.logo">
            </div>
          </div>
          <!-- Social media fields -->
          <div class="three fields">
            <div class="field">
              <div class="ui left icon input">
                <i class="inverted blue twitter icon"></i>
                <input type="text" name="companyEdit-twitter" placeholder="twitter url"
                       ng-model="suggestCompanyEditForm.twitter">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="blue facebook icon"></i>
                <input type="text" name="companyEdit-facebook" placeholder="facebook url"
                       ng-model="suggestCompanyEditForm.facebook">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="linkedin icon"></i>
                <input type="text" name="companyEdit-linkedin" placeholder="linkedIn url"
                       ng-model="suggestCompanyEditForm.linkedin">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
