<div class="ui page grid">
  <div class="row">
    <div class="column">

      <div class="ui big vertical fluid menu">
        <div class="item" ng-repeat="company in companies">
          <i class="chevron right icon"></i>

          <div class="ui divided items">
            <div class="item browseItem">
              <div class="content">
                <a class="header">{{company.name}}</a>

                <div class="meta">
                <span class="cinema">
                <i class="red marker icon"></i>
                {{company.locations[0].name}}
                </span>
                </div>
                <div class="description">
                  <p>{{company.description}}</p>
                </div>
                <div class="extra">
                  <div class="ui label"><i class="smile icon"></i>{{company.reviews.length}} reviews</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="ui raised blue fluid segment">
        <div class="ui divided items">
          <div class="item browseItem" ng-repeat="company in companies">
            <div class="image">
              <i class="huge building icon"></i>
            </div>
            <div class="content">
              <a class="header">{{company.name}}</a>

              <div class="meta">
                <span class="cinema">
                <i class="red marker icon"></i>
                  {{company.locations[0].name}}
                </span>
              </div>
              <div class="description">
                <p>{{company.description}}
                </p>
              </div>
              <div class="extra">
                <div class="ui green label">${{company.minPay}}-{{company.maxPay}} hourly</div>
                <div class="ui label"><i class="smile icon"></i>{{company.reviews.length}} reviews</div>
                <a ng-href="#/company/{{company.name}}" class="ui right floated primary inverted green button">
                  View Company
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
