<!-- Logout -->
<div class="loginButtonContainer" ng-hide="user === null">
  <div class="ui dropdown" id="logoutDropdown">
    <div class="ui inverted orange icon button">
      {{user.email}}
      <i class="caret down icon"></i>
    </div>
    <div class="menu">
      <div class="item" ng-click="logout()" style="padding-right: 50px">Logout</div>
    </div>
  </div>
</div>

<!-- Login button and popup -->
<div class="loginButtonContainer" ng-show="user === null" ng-click="clearLoginFormData()">
  <a id="loginButton" href="" class="ui inverted orange icon button">
    Login
    <i class="caret down icon"></i>
  </a>
</div>
<div class="ui flowing popup" id="loginPopup">
  <div class="ui one column grid">
    <div class="column">
      <!-- Login Form -->
      <form class="ui vertically padded form" ng-submit="submitLoginForm()"
            ng-class="{error: loginForm.error, loading: loginLoading}">
        <div class="ui small error message centered aligned">
          <i class="warning sign icon"></i>
          {{loginForm.errorMessage}}
        </div>
        <div class="inline field" ng-class="{error: loginForm.error}">
          <input id="emailField" ng-model="loginForm.email" type="text" placeholder="Email">
        </div>
        <div class="inline field" ng-class="{error: loginForm.error}">
          <input id="passwordField" ng-model="loginForm.pass" type="password" placeholder="Password"
                 ng-focus="loginForm.error = false">
        </div>
        <div class="inline field" ng-show="loginForm.registerMode" ng-class="{error: loginForm.error}">
          <input id="passwordConfirmField" ng-model="loginForm.confirmPass" type="password"
                 placeholder="Confirm Password"
                 ng-focus="loginForm.error = false">
        </div>

        <!-- Submit buttons -->
        <div class="two fields" ng-hide="loginForm.registerMode">
          <div class="field" style="margin-bottom: 0;">
            <button data-content="Register" class="ui icon fluid secondary button" type="button"
                    ng-click="toggleRegisterMode();">
              <i class="add user icon"></i>
            </button>
          </div>
          <div class="field" style="margin-bottom: 0;">
            <button type="submit" class="ui icon fluid orange button">Login</button>
          </div>
        </div>
        <!-- buttons showing different options -->
        <div class="two fields" ng-show="loginForm.registerMode">
          <div class="field" style="margin-bottom: 0;">
            <button class="ui icon fluid red button" type="button"
                    ng-click="toggleRegisterMode();">
              <i class="remove icon"></i>
            </button>
          </div>
          <div class="field" style="margin-bottom: 0;">
            <button data-content="Register & Login" type="submit" class="ui icon fluid green button">
              <i class="add user icon"></i>
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
