<div class="ui one column stackable center aligned page vertically padded grid">
  <div class="twelve wide column">

    <div class="ui raised orange segment" style="margin-top: 30%; margin-bottom: 20%">


      <div class="ui error huge icon message">
        <h1 class="ui header">
          <img src="images/cooper/cooper_coop_sad.svg"/>

          <div class="content">
            <div class="sub header"> You need to log in to do that! Please use the login button
              on the top right of the page to login or register.
            </div>
          </div>
        </h1>


      </div>

      <!--<h1 class="ui header">-->
      <!--&lt;!&ndash;<img src="images/cooper/cooper_coop_cat.svg">&ndash;&gt;-->

      <!--<div class="content">-->
      <!--Hey there!-->
      <!--<div class="sub header">Please login so Cooper the co-op Tiger can help you find the best-->
      <!--co-op.-->
      <!--</div>-->
      <!--</div>-->
      <!--</h1>-->

      <!--<form class="ui loading fluid form">-->

      <!--<div class="two fields">-->

      <!--<div class="field">-->
      <!--<label>Email - RIT only</label>-->

      <!--<div class="ui icon input">-->
      <!--<input placeholder="abc1234@rit.edu" type="text" ng-model="loginForm.login">-->
      <!--<i class="user icon"></i>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="field">-->
      <!--<label>Password</label>-->

      <!--<div class="ui icon input">-->
      <!--<input placeholder="********" type="password" ng-model="loginForm.password">-->
      <!--<i class="lock icon"></i>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="field">-->
      <!--<p>or <a>register</a></p>-->
      <!--</div>-->

      <!--</form>-->

    </div>


  </div>
</div>
