<video muted autoplay loop id="mainVideo">
  <source src="../videos/video.mp4" type="video/mp4">
</video>

<!-- Login button and popup -->
<div class="loginButtonContainer">
  <a id="loginButton" href="" class="ui inverted orange icon button">
    Login
    <i class="caret down icon"></i>
  </a>
</div>
<div class="ui flowing popup" id="loginPopup">
  <div class="ui one column grid">
    <div class="column">
      <!-- Login Form -->
      <form class="ui vertically padded form" ng-submit="login()" ng-class="{error: loginForm.error}">
        <div class="ui error message">
          Invalid credentials.
        </div>
        <div class="inline field" ng-class="{error: loginForm.error}">
          <input ng-model="loginForm.email" type="text" placeholder="Email" ng-focus="loginForm.error = false;">
        </div>
        <div class="inline field" ng-class="{error: loginForm.error}">
          <input ng-model="loginForm.pass" type="password" placeholder="Password" ng-focus="loginForm.error = false">
        </div>
        <button type="submit" class="ui submit icon fluid orange button">
          <i class="checkmark icon"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- Login button and popup END -->

<!-- This centers amazingly -->
<div class="ui one column stackable center aligned page vertically padded grid">
  <div class="twelve wide column" id="mainWelcomeColumn">

    <div id="mainSearch">
      <!-- Header -->
      <div class="ui basic center aligned segment">
        <div class="ui inverted huge header" id="logoTitle">
          rate my coop

        </div>
      </div>

      <!-- Search bar -->
      <div class="ui fluid search" id="searchInput">
        <div class="ui massive fluid icon input search">
          <input class="prompt" type="text" placeholder="Search Companies">
          <i class="search icon"></i>
        </div>
        <div class="ui results segment"></div>
      </div>

      <!-- To be results -->
      <!--<div class="ui left aligned segment">-->
      <!--<div class="ui divided list">-->
      <!--<div class="item">-->
      <!--<i class="map marker icon"></i>-->

      <!--<div class="content">-->
      <!--<a class="header">Krowlewskie Jadlo</a>-->

      <!--<div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="item">-->
      <!--<i class="map marker icon"></i>-->

      <!--<div class="content">-->
      <!--<a class="header">Sapporo Haru</a>-->

      <!--<div class="description">Greenpoint's best choice for quick and delicious sushi.</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

    </div>

  </div>
</div>

