<div class="ui grid">
  <div class="row" id="mainWelcome">
    <div class="column" style="height: 100%; position: relative;">

      <div class="ui basic center aligned segment" id="mainSearch">
        <h1 class="ui inverted huge header">
          RateMyCoop
        </h1>
        <i class="huge inverted circular university icon"></i>

        <span class="ui massive icon input">
          <input type="text" placeholder="Search massive...">
          <i class="search icon"></i>
        </span>
      </div>


    </div>
  </div>
</div>


<div>
  <a class="ui green button" ng-href="#/company">Login with RIT account</a>

  <div class="ui inverted orange stripe codebase vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="fourteen wide column">
        <h1 class="ui inverted icon header">
          Where do you want to go?
        </h1>

        <p>

        <div class="ui massive fluid icon input">
          <input type="text" placeholder="Search Company">
          <i class="search icon"></i>
        </div>
        </p>

        <!-- Icon company slider -->
        <div class="ui basic fluid segment">
          <div class="ui page grid">
            <div class="five column aligned row">
              <div class="column">
                <i class="massive inverted apple icon"></i>
              </div>
              <div class="column">
                <i class="massive inverted linux icon"></i>
              </div>
              <div class="column">
                <i class="massive inverted reddit icon"></i>
              </div>
              <div class="column">
                <i class="massive inverted google icon"></i>
              </div>
              <div class="column">
                <i class="massive inverted vimeo icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui stripe community vertical segment">
    <div class="ui two column equal height center aligned divided very relaxed stackable page grid">
      <div class="column">
        <h2 class="ui icon header">
          <i class="big student icon"></i>
          Created by Students
        </h2>

        <p>RateMyCoop is designed by students for students to provide the best out of their coop experience</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="big suitcase icon"></i>
          With Companies <b>you</b> Love
        </h2>

        <p>RateMyCoop has a wide array of companies. Huge conglomerates, small startups you name it. </p>
      </div>
    </div>
  </div>
</div>
