<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h1 class="ui huge header">RateMyCoop</h1>

        <p>
          RIT's private Coop experience sharing space
        </p>
        <a class="ui green button">Login with RIT account</a>
      </div>
    </div>
  </div>
</div>


<div class="full height">

  <div class="ui inverted stripe codebase vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="fourteen wide column">
        <h1 class="ui inverted icon header">
          Search for your company
        </h1>

        <p>Semantic's conventions are based around <a
          href="https://www.princeton.edu/~achaney/tmve/wiki100k/docs/Descriptive_linguistics.html" target="_blank"><b>common
          usage</b></a> and not prescription. Syntax borrows useful principles from natural language like plurality,
          tense, and word order so your code explains itself.</p>
      </div>
    </div>
  </div>

  <div class="ui stripe community vertical segment">
    <div class="ui two column equal height center aligned divided very relaxed stackable page grid">
      <div class="column">
        <h2 class="ui icon header">
          <i class="big student icon"></i>
          Created by Students
        </h2>

        <p>RateMyCoop is designed by students for students to provide the best out of their coop experience</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="big suitcase icon"></i>
          With Companies <b>you</b> Love
        </h2>

        <p>RateMyCoop has a wide array of companies for all sorts of majors.</p>
      </div>
    </div>
  </div>
</div>
