<div class="ui page grid">
	<div class="row">
		<div class="column">
			<div class="ui segment center algined content">
				
				<h2 class="ui top attached header">
					<i class="blue world icon"></i>
					Personal Identification Information
				</h2>
				<div class="ui attached segment">
					<p>Rate My Co-op (RMC) may collect personal identification information from users in a variety of ways, including, but not limited to, when users visit our site, register on the site, write a review, and in connection with other activities, services, features or resources we make available. Users may be asked for their name and RIT email address to use the site. However, users may visit RMC anonymously. We will collect personal identification information only if users voluntarily submit such information to us. Users can always refuse to supply this information, except that it may prevent them from engaging in certain site related activities.</p>

					<p>Rate My Co-op may collect and use personal information for the following purposes:</p>
					
					<div class="ui list">
						<a class="item">
							<i class="lab icon"></i>
							<div class="content">
							<div class="header">User Experience Personalization</div>
								<div class="description">We may use aggregate information to understand how our users as a group interact with RMC. We hope to use this data to fine tune the experience.
								</div>
							</div>
						</a>
						<a class="item">
							<i class="top aligned right configure icon"></i>
							<div class="content">
								<div class="header">Functionality Improvements</div>
								<div class="description">The team deeply cares about any feedback it receives from its users. The team may use provided feedback to add or remove features of RMC.</div>
							</div>
						</a>
					</div>
				</div>

				<h2 class="ui top attached header">
					<i class="purple browser icon"></i>
					Non-personal Identification Information
				</h2>
				<div class="ui attached segment">
					We may collect non-personal identification information about users whenever they interact with Rate My Co-op. Non-personal identification information may include the browser name, the type of computer and technical information about user's means of connection to the site, such as the operating system and the Internet service providers utilized and other similar information.
				</div>

				<h2 class="ui top attached header">
					<i class="orange lock icon"></i>
					Protection
				</h2>
				<div class="ui attached segment">
					We adopt appropriate data collection, storage and processing practices, and security measures. We protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our site.

					Sensitive and private data exchange between RMC and its users happens over a SSL communication channel and is encrypted and protected with digital signatures.
				</div>

				<h2 class="ui top attached header">
					<i class="repeat icon"></i>
					Updates
				</h2>
				<div class="ui attached segment">
					Rate My Co-op has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
				</div>

				<h2 class="ui top attached header">
					<i class="green check circle icon"></i>
					Acceptance of these Terms
				</h2>
				<div class="ui attached segment">
					By using Rate My Co-op, you signify your acceptance of this policy. If you do not agree to this policy, please do not use RMC. Your continued use of RMC following the posting of changes to this policy will be deemed your acceptance of those changes.
				</div>

				<h2 class="ui top attached header">
					<i class="red marker icon"></i>
					Contact
				</h2>
				<div class="ui attached segment">
					If you have any questions about this Privacy Policy, the practices of Rate My Co-op, or your dealings with this site, please <a href="http://goo.gl/forms/6uC5TJ9Kvv" class="brand item" target="_blank">directy report an issue to the team.</a>
				</div>

				<h5 class="ui header">
					<div class="content">
						<div class="ui centered sub header">
							This Privacy Policy governs the manner in which Rate My Co-op collects, uses, maintains and discloses information collected from users (each, a "User") of the ratemycoop.io website ("Site"). This privacy policy applies to the Site and all products and services offered by Rate My Co-op.

							<p>This document was last updated on March 3, 2015</p>
						</div>
					</div>
				</h5>
			</div>
		</div>
	</div>
</div>