<div class="ui page grid">
  <div class="row">
    <div class="column">


      <div class="ui fluid segment" ng-class="{loading: loading}">

        <h1 class="ui dividing header">Review {{company.name}}</h1>


        <!-- Error stuff -->
        <div class="ui error icon message">
          <i class="spy icon"></i>

          <div class="content">
            This portion is under development. Use at your own risk, all actions are being tracked
          </div>
        </div>

        <div class="ui vertical segment">

          {{wizard.currStep}}
          <div class="ui fluid steps">
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s1}" ng-click="wizard.currStep = wizard.s1">
              <i class="building outline icon"></i>

              <div class="content">
                <div class="title">Co-op Info</div>
                <div class="description">Getting started</div>
              </div>
            </a>
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s2}" ng-click="wizard.currStep = wizard.s2">
              <i class="star icon"></i>

              <div class="content">
                <div class="title">Your Experience</div>
                <div class="description">Rate it</div>
              </div>
            </a>
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s3}" ng-click="wizard.currStep = wizard.s3">
              <i class="info icon"></i>

              <div class="content">
                <div class="title">Last Thoughts</div>
              </div>
            </a>
          </div>


          <form class="ui error attached form segment">


            <wizard on-finish="finishedWizard()" hide-indicators="true" current-step="wizard.currStep">
              <wz-step title="wizardStepOne">
                <!-- WIZARD 1/3 -->

                <h1 class="ui header">
                  Co-op Info
                  <div class="sub header">
                    First, a little about you...
                  </div>
                </h1>


                <div class="two fields">
                  <div class="ui field">

                    <div class="ui left action input">
                      <div class="ui teal labeled icon button">
                        <i class="university icon"></i>
                        Major
                      </div>
                      <input type="text" value="" placeholder="1. Software, Biomedical, Mechanical...">
                    </div>

                  </div>
                  <div class="field">


                    <div class="ui action input">
                      <input type="text" placeholder="New York City, San Francisco...">
                      <button class="ui teal right labeled icon button">
                        <i class="marker icon"></i>
                        City or Town
                      </button>
                    </div>

                  </div>
                </div>

                <div class="field">
                  <label>Perks</label>
                  What kind of cool benefits did you receive?
                  <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Relocation, housing, free food...">
                    <i class="search icon"></i>
                  </div>
                </div>

                <div class="six wide field">
                  <label><i class="green money icon"></i>Pay & Compensation </label>

                  <div class="ui right action input">
                    <input type="text" value="$00.00" placeholder="$ 00.00">

                    <div class="ui labeled selection dropdown button">
                      <input type="hidden" name="gender">

                      <div class="default text">Pay Type</div>
                      <i class="dropdown icon"></i>

                      <div class="menu">
                        <div class="item" data-value="hourly">Hourly</div>
                        <div class="item" data-value="salary">Salary</div>
                        <div class="item" data-value="stipend">Stipend</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ui inverted green right labeled icon button" type="submit" wz-next value="Continue">
                  <i class="right arrow icon"></i>
                  Next Step
                </div>
              </wz-step>
              <wz-step title="wizardStepTwo">
                <!-- WIZARD 2/3 -->
                <h1 class="ui header">Your experience</h1>


                <!-- Overall -->
                <div class="ui header">
                  <i class="green history icon"></i>

                  <div class="content">
                    Overall
                    <div class="sub header">Remember the first day, all the way to the last step out that door. How was
                      your experience overall?
                    </div>
                  </div>
                </div>
                <div class="ui massive star rating"></div>

                <!-- Culture -->
                <div class="ui header">
                  <i class="blue users icon"></i>

                  <div class="content">
                    Culture
                    <div class="sub header">How well did you like the people and the culture at {company name}?
                    </div>
                  </div>
                </div>
                <div class="ui massive star rating"></div>

                <!-- Difficulty -->
                <div class="ui header">
                  <i class="orange cubes icon"></i>

                  <div class="content">
                    Difficulty
                    <div class="sub header">Think about the interview process, how many interviews and how challenging
                      was it?
                    </div>
                  </div>
                </div>
                <div class="ui horizontal list">
                  <div class="item"><i class="huge green plane icon"></i></div>
                  <div class="item"><i class="huge green military icon item"></i></div>
                  <div class="item"><i class="huge red space shuttle icon item"></i></div>
                  <div class="item"><i class="huge red rocket icon item"></i></div>

                </div>

                <div class="ui hidden form divider"></div>

                <div class="ui inverted green right labeled icon button" wz-next value="Go on">
                  <i class="right arrow icon"></i>
                  Almost Done
                </div>


              </wz-step>
              <wz-step title="wizardStepThree">

                <!-- Final Thoughts area -->
                <div class="field">
                  <label>Anything else?</label>
                  <textarea></textarea>
                </div>

                <!-- Anonymous -->
                <h4 class="ui dividing header"><i class="spy icon"></i>Anonymity</h4>

                <div class="field">
                  <div class="ui yellow message">
                    We take this matter very seriously
                    - for more information check out our <a>privacy policy</a>.
                  </div>
                  <div class="ui toggle checkbox">
                    <input type="checkbox" name="privacy">
                    <label>Would you like to remain anonymous?</label>
                  </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="hot-deals">
                    <label>I agree to the <a href="#">Terms of Service</a>.</label>
                  </div>
                </div>

                <div class="ui submit inverted fluid green icon button" wz-next value="Finish now">
                  <i class="send outline icon"></i>
                  Submit Review
                </div>
                <div class="ui hidden divider"></div>

                <div class="ui submit inverted fluid yellow icon button" ng-click="wizard.currStep = wizard.s1">
                  <i class="erase icon"></i>
                  Start Over
                </div>
              </wz-step>
            </wizard>


            <!--<div class="ui accordion">-->


            <!--&lt;!&ndash; WIZARD 1/3 &ndash;&gt;-->
            <!--<div class="title">-->
            <!--<i class="dropdown icon"></i>-->
            <!--Co-op Info-->
            <!--</div>-->
            <!--<div class="content">-->

            <!--<div class="two fields">-->
            <!--<div class="ui search field">-->
            <!--<label>Major</label>-->

            <!--<div class="ui icon input">-->
            <!--<input class="prompt" type="text" placeholder="Bioinformatics, Software ...">-->
            <!--<i class="search icon"></i>-->
            <!--</div>-->
            <!--<div class="results"></div>-->
            <!--</div>-->
            <!--<div class="field">-->
            <!--<label>City/Town</label>-->

            <!--<div class="ui icon input">-->
            <!--<input class="prompt" type="text" placeholder="Norwalk">-->
            <!--<i class="search icon"></i>-->
            <!--</div>-->
            <!--<div class="results"></div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="field">-->
            <!--<label>Perks</label>-->
            <!--What kind of cool benefits did you receive?-->
            <!--<div class="ui icon input">-->
            <!--<input class="prompt" type="text" placeholder="Relocation, housing, free food...">-->
            <!--<i class="search icon"></i>-->
            <!--</div>-->
            <!--<div class="results"></div>-->
            <!--</div>-->

            <!--<div class="ui raised blue segment">-->
            <!--Here add the perks-->
            <!--</div>-->

            <!--<div class="inline fields">-->
            <!--<label><i class="green dollar icon"></i>Pay & Compensation</label>-->

            <!--<div class="four wide field">-->
            <!--<div class="ui input">-->
            <!--<input class="prompt" type="text" placeholder="$ 00.00">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="two wide field">-->
            <!--<div class="ui selection dropdown">-->
            <!--<input type="hidden" name="gender">-->

            <!--<div class="default text">Pay Type</div>-->
            <!--<i class="dropdown icon"></i>-->

            <!--<div class="menu">-->
            <!--<div class="item" data-value="hourly">Hourly</div>-->
            <!--<div class="item" data-value="salary">Salary</div>-->
            <!--<div class="item" data-value="stipend">Stipend</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; WIZARD 2/3 &ndash;&gt;-->
            <!--<div class="title">-->
            <!--<i class="dropdown icon"></i>-->
            <!--Your Experience-->
            <!--</div>-->
            <!--<div class="content">-->

            <!--&lt;!&ndash; Overall &ndash;&gt;-->
            <!--<div class="ui header">-->
            <!--<i class="green history icon"></i>-->

            <!--<div class="content">-->
            <!--Overall-->
            <!--<div class="sub header">Remember the first day, all the way to the last step out that door. How was-->
            <!--your experience overall?-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui massive star rating"></div>-->

            <!--&lt;!&ndash; Culture &ndash;&gt;-->
            <!--<div class="ui header">-->
            <!--<i class="blue users icon"></i>-->

            <!--<div class="content">-->
            <!--Culture-->
            <!--<div class="sub header">How well did you like the people and the culture at {company name}?-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui massive star rating"></div>-->

            <!--&lt;!&ndash; Difficulty &ndash;&gt;-->
            <!--<div class="ui header">-->
            <!--<i class="orange cubes icon"></i>-->

            <!--<div class="content">-->
            <!--Difficulty-->
            <!--<div class="sub header">Think about the interview process, how many interviews and how challenging-->
            <!--was it?-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui horizontal list">-->
            <!--<div class="item"><i class="huge green plane icon"></i></div>-->
            <!--<div class="item"><i class="huge green military icon item"></i></div>-->
            <!--<div class="item"><i class="huge red space shuttle icon item"></i></div>-->
            <!--<div class="item"><i class="huge red rocket icon item"></i></div>-->
            <!--</div>-->

            <!--</div>-->


            <!--&lt;!&ndash; WIZARD 3/3 &ndash;&gt;-->
            <!--<div class="title">-->
            <!--<i class="dropdown icon"></i>-->
            <!--Last Thoughts-->
            <!--</div>-->
            <!--<div class="content">-->
            <!--&lt;!&ndash; Final Thoughts area &ndash;&gt;-->
            <!--<div class="field">-->
            <!--<label>Anything else?</label>-->
            <!--<textarea></textarea>-->
            <!--</div>-->

            <!--&lt;!&ndash; Anonymous &ndash;&gt;-->
            <!--<h4 class="ui dividing header"><i class="spy icon"></i>Anonymity</h4>-->

            <!--<div class="field">-->
            <!--<div class="ui yellow message">-->
            <!--We take this matter very seriously-->
            <!--- for more information check out our <a>privacy policy</a>.-->
            <!--</div>-->
            <!--<div class="ui slider checkbox">-->
            <!--<input type="checkbox" name="privacy">-->
            <!--<label>Would you like to remain anonymous?</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui hidden divider"></div>-->
            <!--<div class="field">-->
            <!--<div class="ui checkbox">-->
            <!--<input type="checkbox" name="hot-deals">-->
            <!--<label>I agree to the <a href="#">Terms of Service</a>.</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="ui submit inverted fluid green icon button">-->
            <!--<i class="send outline icon"></i>-->
            <!--Submit Review-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


          </form>


        </div>


      </div>


    </div>
  </div>
</div>
