<div class="ui page grid" style="margin: 30px">
  <div class="row">
    <div class="column">


      <div class="ui fluid segment" ng-class="{loading: loading}">
        <form class="ui form">
          <h1 class="ui dividing header">Review {{company.name}}</h1>


          <div class="field">
            <label>What were some of the good things?</label>
            <textarea rows="1" cols="1"></textarea>
          </div>

          <div class="field">
            <label>What were some of the bad things?</label>
            <textarea rows="99"></textarea>
          </div>

          <div class="field">
            <label>Finish off with some summarizing details.</label>
            <textarea></textarea>
          </div>

          <!-- Anonymous -->
          <h4 class="ui dividing header"><i class="spy icon"></i>Anonymity</h4>

          <div class="field">
            <div class="ui yellow message">
              We take this matter very seriously
              - for more information check out our <a>privacy policy</a>.
            </div>
            <div class="ui slider checkbox">
              <input type="checkbox" name="privacy">
              <label>Would you like to remain anonymous?</label>
            </div>
          </div>

          <div class="ui hidden divider"></div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="hot-deals">
              <label>I agree to the <a href="#">Terms of Service</a>.</label>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
          <div class="ui submit inverted fluid green icon button">
            <i class="send outline icon"></i>
            Submit Review
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
