<div class="ui page grid">
  <div class="row">
    <div class="column">

      <div class="ui fluid segment" ng-class="{loading: loading.main}">

        <h1 class="ui dividing header" style="margin-bottom: 0px;">Add a review for {{company.name}}</h1>

        <div class="ui yellow message">
          We take privacy <i>very</i> seriously: for more information, check out our <a ng-href="/#/privacy"
                                                                                        target="_blank">privacy
          policy</a>.<br>
          All fields are optional, so fill out only what you are comfortable with.
        </div>

        <div class="ui vertical segment" style="padding: 0px;">
          <div class="ui fluid attached steps">
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s1}" ng-click="wizard.currStep = wizard.s1">
              <i class="building outline icon"></i>

              <div class="content">
                <div class="title">1. Your Co-op</div>
              </div>
            </a>
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s2}" ng-click="wizard.currStep = wizard.s2">
              <i class="star icon"></i>

              <div class="content">
                <div class="title">2. Your Experience</div>
              </div>
            </a>
            <a class="step" ng-class="{active: wizard.currStep=== wizard.s3}" ng-click="wizard.currStep = wizard.s3">
              <i class="comment icon"></i>

              <div class="content">
                <div class="title">3. Last Thoughts</div>
              </div>
            </a>
          </div>

          <form class="ui attached form segment" ng-class="{error: formData.error}" id="reviewForm">
            <div class="ui error message">
              <div class="header">
                Whoops, something went wrong.
              </div>
              <p>Sorry about that, try submitting your review again.</p>
            </div>

            <wizard on-finish="finishedWizard()" hide-indicators="true" current-step="wizard.currStep">
              <!-- WIZARD 1/3 -->
              <wz-step title="wizardStepOne">
                <div class="ui raised blue segment">
                  <div class="ui two column stackable grid">
                    <div class="column">
                      <!-- Major -->
                      <div class="field">
                        <div class="ui field fluid search" id="majorSearch">
                          <label>Major</label>
                          <input type="text" name="majorSearchInput" autocomplete="off" class="prompt"
                                 placeholder="In which program are you primarily enrolled?">

                          <div class="results"></div>
                        </div>
                      </div>

                      <!-- Location -->
                      <div class="field">
                        <div class="ui field fluid search" id="locationSearch">
                          <label>Location</label>
                          <input type="text" name="locationSearchInput" autocomplete="off" class="prompt"
                                 placeholder="Where did you work?">

                          <div class="results"></div>
                        </div>
                      </div>
                    </div>

                    <div class="column">
                      <!-- Job Title -->
                      <div class="field">
                        <label>Job Title</label>

                        <div class="ui right labeled input">
                          <input type="text" name="jobTitleInput" placeholder="What was your official title?"
                                 autocomplete="off" ng-model="formData.jobTitle">
                        </div>
                      </div>

                      <!-- Compensation -->
                      <div class="field">
                        <label>Compensation</label>

                        <div class="ui right labeled left icon input">
                          <i class="dollar icon"></i>
                          <input type="text" name="payInput" placeholder="0.00" autocomplete="off"
                                 ng-model="formData.pay">
                          <!--suppress HtmlFormInputWithoutLabel -->
                          <select class="ui dropdown label" name="payTypeInput" id="payType"
                                  ng-model="formData.payTypeId"
                                  ng-options="type.id as type.name for type in payTypes">
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Perks -->
                <div class="ui raised blue segment" ng-class="{loading: loading.perks}">
                  <div class="field">
                    <div class="column">
                      <div class="ui header">
                        <i class="green tags icon"></i>

                        <div class="content">
                          Perks
                          <div class="sub header">Select which perks {{company.name}} offered, if any.</div>
                        </div>
                      </div>

                      <div class="ui big labels">
                        <div class="ui label" ng-repeat="perk in allPerks | filter:perkSearchQuery"
                             ng-class="{orange: perk.isSelected, black: !perk.isSelected}"
                             ng-click="togglePerkAddition(perk)">
                          <i class="{{perk.icon}} icon"></i>
                          {{perk.name}}
                          <div class="detail" ng-hide="perk.isSelected">
                            <i class="add icon"></i>
                          </div>
                          <div class="detail" ng-show="perk.isSelected">
                            <i class="close icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Anonymous -->
                <div class="eight column wide">
                  <div class="ui toggle checkbox" id="privacyCheckbox" style="transform: translateY(35%);">
                    <input type="checkbox" ng-model="formData.anonymous">

                    <label>Would you like to remain anonymous?</label>
                  </div>
                  <div class="ui inverted green right labeled right floated icon button" type="submit" wz-next>
                    <i class="right arrow icon"></i>
                    Next
                  </div>
                </div>

              </wz-step>

              <!-- WIZARD 2/3 -->
              <wz-step title="wizardStepTwo">
                <!-- Overall -->
                <div class="ui raised green segment">
                  <div class="ui header">
                    <i class="green history icon"></i>

                    <div class="content">
                      Overall
                      <div class="sub header">Remember the first day, all the way up to the last step out the door. How
                        was your experience overall?
                      </div>
                    </div>
                  </div>
                  <div class="ui center aligned basic segment">
                    <i class="big thumbs down outline icon"></i>

                    <div class="ui massive star rating" data-max-rating="10"></div>
                    <i class="big thumbs up outline icon"></i>
                  </div>
                </div>

                <!-- Culture -->
                <div class="ui raised blue segment">
                  <div class="ui header">
                    <i class="blue users icon"></i>

                    <div class="content">
                      Culture
                      <div class="sub header">How well did you like the people and the culture at {{company.name}}?
                      </div>
                    </div>
                  </div>
                  <div class="ui center aligned basic segment">
                    <i class="big frown icon"></i>

                    <div class="ui massive star rating" data-max-rating="10"></div>
                    <i class="big smile icon"></i>
                  </div>
                </div>

                <!-- Competitiveness -->
                <div class="ui raised orange segment">
                  <div class="ui header">
                    <i class="orange dashboard icon"></i>

                    <div class="content">
                      Competitiveness
                      <div class="sub header">
                        Think about the interview process, how hard was it to get a spot?
                      </div>
                    </div>
                  </div>
                  <div class="ui center aligned basic segment">
                    <i class="big green birthday icon"></i>

                    <div class="ui massive star rating" data-max-rating="10"></div>
                    <i class="big red rocket icon item"></i>
                  </div>
                </div>

                <div class="ui inverted green left labeled left floated icon button" wz-previous>
                  <i class="left arrow icon"></i>
                  Previous
                </div>
                <div class="ui inverted green right labeled right floated icon button" wz-next>
                  <i class="right arrow icon"></i>
                  Next
                </div>
              </wz-step>

              <!-- WIZARD 3/3 -->
              <wz-step title="wizardStepThree">
                <!-- return offer and would you recommend? -->
                <div class="two fields">
                  <div class="field">
                    <div class="ui toggle checkbox" id="recommendCheckbox">
                      <input type="checkbox" ng-model="formData.recommend">

                      <label>Would you recommend {{company.name}} to a friend? </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui toggle checkbox" id="returnOfferCheckbox">
                      <input type="checkbox" ng-model="formData.returnOffer">

                      <label>Did you get a return offer for {{company.name}}? </label>
                    </div>
                  </div>
                </div>

                <!-- Final Thoughts area -->
                <div class="field">
                  <div class="ui label" style="float: right;">
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Supports
                      Markdown</a>
                  </div>
                  <h3>Share your thoughts below.</h3>
                  <textarea ng-model="formData.description" name="descriptionInput"></textarea>

                  <div class="ui fluid accordion" style="margin-top: 7px">
                    <div class="title">
                      <i class="dropdown icon"></i>Live Preview
                    </div>
                    <div btf-markdown="formData.description" class="content ui segment markdown-preview"></div>
                  </div>

                  <div class="ui hidden divider"></div>

                  <div class="ui message">
                    <i class="info circle icon"></i>
                    You can submit only 1 review every 3 months for every company.
                  </div>

                  <div class="ui inverted green left labeled left floated icon button" wz-previous>
                    <i class="left arrow icon"></i>
                    Previous
                  </div>
                  <div class="ui inverted green right labeled right floated icon button" ng-click="submitReview()">
                    <i class="check circle icon"></i>
                    Submit
                  </div>
                </div>
              </wz-step>

            </wizard>

          </form>

        </div>

      </div>

    </div>
  </div>
</div>
