<div class="ui pagination menu pagination" ng-if="1 < pages.length">
  <a class="icon item" ng-if="directionLinks"
     ng-class="{ disabled : pagination.current == 1 }"
     ng-click="setCurrent(pagination.current - 1)">
    <i class="left arrow icon"></i>
  </a>
  <a class="item" ng-repeat="pageNumber in pages track by $index"
     ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }"
     ng-click="setCurrent(pageNumber)">
    <p>{{pageNumber}}</p>
  </a>
  <a class="icon item" ng-if="directionLinks"
     ng-class="{ disabled : pagination.current == pagination.last }"
     ng-click="setCurrent(pagination.current + 1)">
    <i class="right arrow icon"></i>
  </a>
</div>
